<!doctype html>
<html lang="en">
  <head>
    {% feed_meta %}
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>

  <body class="{{ page.layout }} {{ page.page_class }} container mx-auto px-4 flex flex-col min-h-screen">
    {% render "navbar", metadata: site.metadata, page: page %}

    <main class="flex-grow">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
