---
layout: default
---

<h1 class="text-lg font-bold text-center uppercase md:text-xl lg:text-4xl">{{ page.title }}</h1>

<div class="mx-auto mt-8 prose md:prose-lg lg:prose-xl prose-green prone-light">
  {{ content }}
</div>
