<footer class="footer">
  <div>
    <%= liquid_render "account_links", accounts: metadata.accounts %>
  </div>
  <div>
    <a href="<%= metadata.bridgetown.url %>" target="_blank">
      Kudos to <%= metadata.bridgetown.name %> for the awesome static site generator!
    </a>
  </div>
</footer>
