<footer class="footer">
  <div>
    <%= liquid_render "account_links", accounts: metadata.accounts %>
  </div>
  <div>
    Hecho con ❤️  en
    <a href="<%= metadata.bridgetown.url %>" target="_blank">
      <%= metadata.bridgetown.name %>
    </a>
  </div>
</footer>
