<% if paginator.total_pages > 1 %>
  <div class="pagination">
    <% if paginator.previous_page %>
      <a href="<%= paginator.previous_page_path %>">
        <%= svg "images/arrow_back.svg", width: "34" %>
      </a>
    <% end %>
    <% if paginator.next_page %>
      <a href="<%= paginator.next_page_path %>">
        <%= svg "images/arrow_forward.svg", width: "34" %>
      </a>
    <% end %>
  </div>
<% end %>
