<a href="<%= post.absolute_url %>" class="article">
  <h1>
    <%= post.data.title %>
  </h1>
  <div class="article_body">
    <div class="article_categories">
      <% post.data.tags.each do |tag|%>
        <div><%= tag %></div>
      <% end %>
    </div>
    <div>| <%= date_to_string post.data.date, :ordinal %></div>
  </div>
</a>
