<article class="article">
  <a href="<%= post.absolute_url %>">
    <h4><%= post.data.title %></h4>
    <div class="article_date">
      <%= date_to_string post.data.date, :ordinal %>
    </div>
  </a>
</article>
