<footer class="flex flex-col justify-center p-4 md:flex-row md:justify-evenly md:p-6">
  <div class="flex flex-row justify-around py-6 md:space-x-6">
    {% render "accounts_links", metadata: metadata %}
  </div>
  <div class="flex justify-center py-6">
    <div>Hecho con ❤️  en <a href="https://www.bridgetownrb.com/" class="font-bold text-green-600 hover:text-gray-200" target="_blank"> Bridgetownrb</a></div>
  </div>
</footer>
