<footer class="flex flex-col p-4 md:p-6">
  <div class="flex flex-row justify-evenly">
    {% render "social_media_links", metadata: metadata %}
  </div>
  <div>
    Hecho con ❤️ en <a href="https://www.bridgetownrb.com/" class="font-bold" target="_blank">Bridgetownrb</a>
  </div>
</footer>
