<footer class="flex flex-col justify-center p-4 md:justify-center md:flex-row md:p-6">
  <div class="flex flex-row space-x-8">
    {% render "social_media_links", metadata: metadata %}
  </div>
  <div>
    Hecho con ❤️ en <a href="https://www.bridgetownrb.com/" class="font-bold" target="_blank">Bridgetownrb</a>
  </div>
</footer>
