<footer class="flex flex-col p-4 md:p-6">
  <div class="flex flex-row justify-center py-4 space-x-8">
    {% render "accounts_links", metadata: metadata %}
  </div>
  <div class="flex flex-row justify-center py-4">
    <div>Hecho con ❤️  en <a href="https://www.bridgetownrb.com/" class="font-bold hover:text-green-700" target="_blank"> Bridgetownrb</a></div>
  </div>
</footer>
