<div class="container p-5 mx-auto">
  <nav class="flex justify-between">
    <div>
      <a href="/">{{ metadata.title }}</a>
    </div>
    <ul class="flex flex-row">
      <li class="pr-5"><a href="/about">About</a></li>
      <li class="pr-5"><a href="/posts">Blog</a></li>
    </ul>
  </nav>
</div>


