<nav class="flex flex-wrap items-center justify-between p-4 md:p-6">
  <a href="/" class="text-2xl">{{ metadata.title }}</a>

  <div class="flex flex-row space-x-4">
    {% render "social_media_links" %}
  </div>
</nav>
